.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 2rem;
  background-color: var(--white);
  width: 30rem;
  height: 100vh;
  z-index: 100;
  animation: 0.25s ease-in 0s 1 fadeInSidebar;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      cursor: pointer;
    }
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  }

  &:before {
    content: "";
    clip-path: polygon(100% 0, 67% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 67% 100%, 100% 100%);
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: calc(0% - 14rem);
    bottom: 0;
    width: 15rem;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  gap: 3rem;
  color: var(--gray);
  font-weight: 200;
}

.title {
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  gap: 3rem;
  color: var(--gray);
  font-weight: 200;
  margin-top: 5rem;

  .title {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
  }

  .total {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}

@keyframes fadeInSidebar {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
