.container {
  position: absolute;
  top: 6.3rem;
  right: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .container {
    align-items: end;
    justify-content: end;
    gap: 5rem;
    padding-right: 1.3rem;
    right: 5rem;
  }
}

@media (max-width: 700px) {
  .container {
    position: relative;
    top: initial;
    right: initial;
    align-items: center;
  }
}
