.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem 3.25rem;

  .title {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
  }
}
